@model IEnumerable<Myriad.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<h2>Catalogue</h2>

<p>
    @Html.ActionLink("Add to the Catalogue", "CreateAllAction")
</p>


<div class="mainDiv">
    <div id="pointer" class="lrow" style="overflow-y:scroll">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <h4>
                            @Ajax.ActionLink(item.Name, "DetailsPartial", "Movies",
            new { id = item.MovID },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                            
                        </h4>
                    </th>
                </tr>
                <tr>
                    <td>
                        @if (item.Poster != null)
                        {
                            <img width="100" height="100" src=@Url.Content(item.Poster) alt="Can't Load Image'" />
                        }
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.ReleaseDate)</strong>
                        @Html.DisplayFor(model => item.ReleaseDate)<br />

                        <strong>@Html.DisplayNameFor(model => model.Producer)</strong>
                        
                        @Ajax.ActionLink(item.Producer.Name, "DetailsPartial", "Producers",
            new { id = item.ProID },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                        <br />

                        <strong>@Html.DisplayNameFor(model => model.ActorsList)</strong>
                        @foreach (var i in item.ActorsList)
                        {
                            if (i.isChecked)
                            {
                                @Ajax.ActionLink(i.Name, "DetailsPartial", "Actors",
            new { id = i.id },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                            @:&nbsp;
                            }
                            
                        }
                        <br />
                        <a href="@Url.Action("Edit", "Movies", new { id = item.MovID })">
                            <img alt="edit" height="25" width="20" src="https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/edit.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Movies", new { id = item.MovID })">
                            <img alt="delete" height="25" width="20" src="https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/delete.png" />
                        </a>
                        <a href="@Url.Action("Details", "Movies", new { id = item.MovID })">
                            <img alt="details" height="25" width="20" src="https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/Details.jpg" />
                        </a>

                    </td>
                </tr>

            }
        </table>
    </div>
    <div class="vertical"></div>
    <div id="divDetails" class="rrow">

    </div>
</div>
