@using Myriad.CustomHelpers
@model IEnumerable<Myriad.Models.MovieViewModel>

@{
 
    ViewBag.Title = "Myriad";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {
            $(".detailsMovie").click(function () {
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("DetailsPartial", "Movies")',//controller name and action
                    type: 'GET',
                     
                    success: function (data) {
                        //$(this).before('<img src=" 	https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/loader.gif" alt="Loading..." />');
                        $("#divDetails").load('/Movies/DetailsPartial')
                        $("#loading").hide();
                    },
                })
            });
        });

    </script>

}
<h2>Catalogue</h2>

<p>
    @Html.ActionLink("Add to the Catalogue", "CreateAllAction")
</p>


<div class="mainDiv">
    <div id="pointer" class="lrow" style="overflow-y:scroll">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <h4>
                            @Ajax.ActionLink(item.Name, "DetailsPartial", "Movies",
            new { id = item.MovID },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                            
                        </h4>
                    </th>
                </tr>
                <tr>
                    <td>
                        @if (item.Poster != null)
                        {
                            <img width="100" height="100" src=@Url.Content(item.Poster) alt="Can't Load Image'" />
                        }
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.ReleaseDate)</strong>
                        @Html.DisplayFor(model => item.ReleaseDate)<br />

                        <strong>@Html.DisplayNameFor(model => model.Producer)</strong>
                        
                        @Ajax.ActionLink(item.Producer.Name, "DetailsPartial", "Producers",
            new { id = item.ProID },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                        <br />

                        <strong>@Html.DisplayNameFor(model => model.ActorsList)</strong>
                        @foreach (var i in item.ActorsList)
                        {
                            if (i.isChecked)
                            {
                                @Ajax.ActionLink(i.Name, "DetailsPartial", "Actors",
            new { id = i.id },
            new AjaxOptions
                 {
                     UpdateTargetId = "divDetails", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                            @:&nbsp;
                            }
                        }
                        <br />
                        @Ajax.ImageActionLink("https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/edit.png", 25, 20, "Edit", "EditPartial", new { id = item.MovID }, new AjaxOptions { UpdateTargetId = "divDetails" })
                        @Ajax.ImageActionLink("https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/delete.png", 25, 20, "Delete", "Delete", new { id = item.MovID }, new AjaxOptions {  UpdateTargetId = "divDetails" } )
                        @Ajax.ImageActionLink("https://s3-us-west-2.amazonaws.com/myriadposterappharbour/UPLOADS/Details.jpg",25,20, "Details", "DetailsPartial", new { id = item.MovID }, new AjaxOptions { UpdateTargetId = "divDetails" })
                    </td>
                </tr>

            }
        </table>
    </div>
    <div class="vertical"></div>
    <div style="text-align:center" id="divDetails" class="rrow">
        <h3><strong>Click</strong></h3> to view details<br />
        <h3><strong>Movies&nbsp;Actors&nbsp; Producers</strong></h3>
</div>
</div>
