@model Myriad.Models.Producer

<div class="body">
    
        <h4>Producer</h4>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @if (Model.Sex == 1)
            {
                @:Male
            }
            else if (Model.Sex == 2)
            {
                @:Female
            }
            else
            {
                @:Others
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Model.DOB.Value.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
